/* src/components/Navbar.css */

button {
  background-color: #83ea96;
  color: rgb(0, 0, 0);
  border-radius: 3% !important;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #4caf50;
}

.left-nav {
  top: 0;
  width: 18%;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.left-nav h2 {
  color: white;
}
.left-nav li.active a {
  color: #4caf50 !important; 
}
.left-nav ul {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
  /* position: fixed; */
  height: 100%;
  overflow: auto;
}

.left-nav li {
  margin-bottom: 10px;
  cursor: pointer;
}

.left-nav li a:hover {
  color: #4caf50 !important;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 22%;
}
#prevque{
  line-height: 19px;

}
/* Responsive styles */
@media (max-width: 768px) {
  .left-nav {
    width: 23%;
    padding: 4px;
  }
#username, #currentPassword{
  width: 200px ;
}
.prof-content{
  margin-left: 24% ;
}
  .custom-container {
    padding-left: 0;
  }
  .profile-header {
    margin-left: 27% !important;
}
.question-content {
  margin-left: 22%;
}
#questcont{
  margin-left: 20%;
}
#selsubj, #selstandard{
  width: 70% !important;
}
#profsub{
  width: 155px;
}
}
